@import "compass/reset";
@import "compass/css3";
 
body {
    color: #333;
}

h1 {
	font-family: 'Ubuntu', Georgia, sans-serif;
	font-size: 2.25em;
    padding: 0 1em;
}

// Defines the basic page styles
body {
    text-align: center;
    font: 1em/1.5 Georgia, sans-serif;
    color: #333;
}
 
a {
    text-decoration: none;
}
 
img {
    max-width: 100%;
    height: auto;
}

// Header styles
.header {
    padding: 10em 0 14em;
 
    h1 {
        font-style: italic;
    }
}

.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333); // Style borrowed from http://jsfiddle.net/spliter/p6GS8/
    @include border-radius(50px); // half the avatar size
    width: 100px;
    height: 100px;
}

.carousel {
    position: relative;
}
 
.shots-container {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 1em 0;
}

.shots {
    overflow: hidden;
    margin: 0;
    padding: 0 2%;
    /*
     * Shot width = 400px + 20px margin + 20px padding + 2px border
     * 442 * 10 (# of shots)
     */
    width: 1768px;
    min-height: 300px;
 
    @media screen and (max-width: 450px) {
        /*
         * Shot width = 300px + 20px margin + 20px padding + 2px border
         * 342 * 4 (# of shots)
         */
        width: 1360px; /* 340 * 4 */
        min-height: 250px;
    }
 
    li {
        float: left;
        width: 400px;
        height: 300px;
        margin: 0 10px;
        padding: 10px;
        background: #fff url(../images/loading.gif) 100px 50% no-repeat;
        border: 1px solid #ddd;
        @include border-radius(3px);
 
        @media screen and (max-width: 450px) {
            width: 300px;
            height: 225px;
        }
    }
}



